/* Подключение шрифтов */

/* ========================== Playfair Display ========================== */


/* Regular */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* SemiBold */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {    
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold */
@font-face {            
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black */
@font-face {    
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ========================== Victor Mono ========================== */
/* Thin */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* ExtraLight */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ========================== AnonymousPro ========================== */
@font-face {
    font-family: 'AnonymousPro';
    src: url('../fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}   
/* ========================== Применение шрифтов ========================== */

.title-photo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 131px;
}

.text-photo {
    font-family: 'Victor Mono';
    font-weight: 500;
    color: #ffffffab;
    font-size: 24px;
}

.text-scroll {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #000000;
    font-size: 88px;
    text-transform: uppercase;
}

.rotating-text-date {
    font-family: 'Victor Mono';
    font-weight: 700;
    color: var(--on-main-color);
    font-size: 30px;
}

.where-text {
    font-family: 'AnonymousPro';
    font-weight: 400;
    color: var(--on-main-color);
    font-size: 30px;
}

.where-text-lable {
    font-family: 'AnonymousPro';
    font-weight: 400;
    color: var(--on-main-color);
    font-size: 14px;
}

.title-large {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 88px;
    color: #000000;
}

.big-number {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: var(--secondary-2-color);
    font-size: 325px;
}

.grid-item-title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #000000;
    font-size: 47px;
}

.grid-item-subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #000000b5;
    font-size: 22px;
}

.button {
    font-family: 'Victor Mono';
    font-weight: 400;
    font-size: 23px;
}

