:root {
    --main-color: #FAEDD8; /* Фон */
    --on-main-color: #907128;  /* На фоне */
    --on-main-color-2: #90712846;
    --secondary-2-color: #C2B7A2;  /* На фоне основной */

    --accent-color: #DE2B49;  /* Яркий цвет*/
    --love-1-color: #EECFC7;  /* Блок love */
    --love-2-color: #F1A8B4;  /* Блок love 2 */
    
    --cursor-color: rgba(202, 132, 27, 0.747);  /* Цвет курсора */
}

