.final-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    
    height: 70vh;
    padding-bottom: 30px;
}

.final-block .final-block-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.final-block .final-block-link img {
    width: 18px;
}

.final-block .final-block-title {
    margin-top: 27px;
}

.final-block .final-block-text {
    margin-top: 5px;
}

.final-block > img {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: top;


    z-index: -1;
}

.final-block p {
    text-align: center;
}


