/* общий класс для всех grid-container */
.grid-container {
    display: grid;
    width: 100vw;
    height: 1300px;
    gap: 2px;
    padding: 2px 0;
    background-color: var(--secondary-2-color);
}

.grid-container-one {
    grid-template-columns: 360px calc(100vw - 360px);
    grid-template-rows: 25% 50% 25%;
}

.grid-container-two {
    grid-template-columns: calc(100vw - 360px) 360px;
    grid-template-rows: 20% 50% 30%;
}

.grid-container-three {
    grid-template-columns: 1fr 0.6fr 0.6fr;
    grid-template-rows: 1fr 0.3fr 0.5fr;

    height: 100vh;
}

.grid-container-one .grid-item, 
.grid-container-two .grid-item {
    background-color: #ffffff;
}

.grid-container-three .grid-item {
    background-color: var(--secondary-2-color-light);
}


/* ============= Компоненты ============= */

.grid-elem-number {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.grid-elem-number p {
    margin-top: -70px; 
}

.grid-elem-photo {
    position: relative;
}

.grid-elem-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-elem-bank {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-elem-bank img {
    max-width: 80%;
    max-height: 90%;
}   

.grid-elem-where {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    padding: 63px;
    background-color: aqua;
}

.grid-elem-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 54px 51px;
}

.grid-elem-info span {
    height: 20px;
}

.grid-elem-slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-title {
    padding-bottom: 11px;
}

.grid-item-subtitle {
    padding-bottom: 40px;
}

.grid-elem-where .button {
   display: inline-block;
   padding: 34px 102px;
   border: 2px solid var(--on-main-color);
   color: var(--on-main-color);
   text-decoration: none;
}

.grid-elem-where .button:hover {
    background-color: var(--on-main-color);
    color: #ffffff;
    transition: all 0.7s ease;
}


/* ============= Роспись ============= */

.grid-container-one .grid-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-container-one .grid-item-2 {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.grid-container-one .grid-item-3 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.grid-container-one .grid-item-4 {
    grid-column: 2;
    grid-row: 3;
}


/* ============= Банкет ============= */

.grid-container-two .grid-item-3 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.grid-container-two .grid-item-4 {
    grid-column: 1;
    grid-row: 3;
}

.grid-container-two .grid-item-1 {
    grid-column: 2;
    grid-row: 1;
}

.grid-container-two .grid-item-2 {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.grid-container-two .grid-elem-where {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    text-align: end;
}


/* ============= Слайдер Наши истории в чём то схожи ============= */

.grid-container-wrapper {
    display: flex;
}


.grid-container-three .grid-item-1 {
    grid-row: 1;
    grid-column: 1;
}

.grid-container-three .grid-item-2 {
    grid-row: 2 / span 2;
    grid-column: 1;
}

.grid-container-three .grid-item-3 {
    grid-row: 1 / span 3;
    grid-column: 2;
}

.grid-container-three .grid-item-4 {
    grid-row: 1 / span 2;
    grid-column: 3;
}

.grid-container-three .grid-item-5 {
    grid-row: 3;
    grid-column: 3;
}

@media (max-width: 1300px) {
    /* слайдер */
    .grid-container-three {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 20% 50% 30%;
    }

    .grid-container-three .grid-item-1 {
        grid-row: 1;
        grid-column: 1;
    }

    .grid-container-three .big-number {
        font-size: 100px;
        padding-top: 40px;
    }
    
    /* пустой элемент */
    .swiper-slide .grid-item-2 {
        display: none;
        grid-row: inherit;
        grid-column: inherit;
    }
    
    /* банка */
    .grid-container-three .grid-item-3 {
        grid-row: 2 / span 2;
        grid-column: 1;
    }
    
    .grid-container-three .grid-item-4 {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
    
    .grid-container-three .grid-item-5 {
        grid-row: 3;
        grid-column: 2;
    }
}


@media (max-width: 1120px) {
    .grid-container {
        grid-template-rows: 20% 50% 30%;
    }
}

@media (max-width: 950px) {

    .grid-container-one {
        grid-template-columns: 35vw 65vw;
        grid-template-rows: 15% 50% 35%;
        height: 1200px;
    }
    
    .grid-container-two {
        grid-template-columns: 65vw 35vw;
        grid-template-rows: 15% 50% 35%;
        height: 1200px;
    }

    /* Роспись */
    .grid-container-one .grid-item-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .grid-container-one .grid-item-2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .grid-container-one .grid-item-3 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .grid-container-one .grid-item-4 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    /* Банкет */
    .grid-container-two .grid-item-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .grid-container-two .grid-item-2 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .grid-container-two .grid-item-3 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .grid-container-two .grid-item-4 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    
    .grid-container-two .grid-elem-where {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        text-align: end;
    }

    .grid-elem-number {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;

        font-size: 200px;
    }
}

@media (max-width: 600px) {
    
    .grid-container-one {
        height: inherit;
        grid-template-rows: 180px 900px 400px 350px;
        grid-template-columns: 100vw;
    }

    .grid-container-two {
        height: inherit;
        grid-template-rows: 180px 900px 400px 350px;
        grid-template-columns: 100vw;
    }

    .grid-container-three {
        height: 100vh;
        grid-template-rows: 75% 25%;
        grid-template-columns: 100vw;
    }

    /* Роспись */
    .grid-container-one .grid-item-1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .grid-container-one .grid-item-2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .grid-container-one .grid-item-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .grid-container-one .grid-item-4 {
        grid-column: 1;
        grid-row: 4;
    }

    /* Банкет */
    .grid-container-two .grid-item-1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .grid-container-two .grid-item-2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .grid-container-two .grid-item-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .grid-container-two .grid-item-4 {
        grid-column: 1;
        grid-row: 4;
    }

    .grid-item-title {
        font-size: 30px;
        padding-bottom: 11px;
    }
    
    .grid-item-subtitle {
        font-size: 20px;
        padding-bottom: 40px;
    }

    .grid-elem-where .button {
        padding: 20px 60px;
        font-size: 20px;
    }

    

    .grid-item-title {
        font-size: 30px;
        padding-bottom: 11px;
    }
    
    .grid-item-subtitle {
        font-size: 20px;
        padding-bottom: 40px;
    }

    .grid-elem-where .button {
        padding: 20px 30px;
        width: 100%;
        text-align: center;
    }

    .grid-elem-where {
        padding: 30px;
    }

    /* слайдер */
    .swiper-slide .grid-item-1 {
        display: none;
    }

    .swiper-slide .grid-item-3 {
        grid-row: 1;
        grid-column: 1;
    }
    
    .swiper-slide .grid-item-4 {
        display: none;
    }
    
    .swiper-slide .grid-item-5 {
        grid-row: 2;
        grid-column: 1;
    }
}



