/* ========================== Блок с приглашением ========================== */
.invitation-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.invitation-image .invitation-image-photo {
    width: 100%;
    object-fit: cover;
}

.invitation-image .invitation-image-photo-one {
    height: 100%;
}

.invitation-image .night-block {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.invitation-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 18vh;
    left: 15vh;
    gap: 60px;
}

.invitation-text .dear-misha {
    width: 900px;
}

.invitation-text .invitation-subtitle {
    width: 40%;
}

/* Почему приглашаем именно тебя? */
.invitation-image-photo-two {
    height: 1560px;
    object-position: 15% center;
}

.invitation-text .invitation-subtitle-two {
    width: 50%;
}

.invitation-subtitle-two-span {
    background-color: var(--accent-color);
}

/* Что от вас требуется? */
.invitation-block-three img {
    height: 100%;
}

.invitation-block-three .title-photo {
    width: 50%;
}

.invitation-block-three .night-block {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.invitation-block-three .invitation-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 18vh;
    right: 15vh;
    text-align: right;
    align-items: flex-end;
    gap: 60px;
}

.invitation-block-three .title-photo {
    width: 80%;
}

@media (max-width: 1120px) {

    .invitation-text {
        left: 5vh;
        bottom: 5vh;
        gap: 3vh;
    }

    .invitation-block-three .invitation-text {
        right: 5vh;
        bottom: 5vh;
        gap: 3vh;
    }


    /* Почему приглашаем именно тебя? */
    .invitation-image-photo-two {
        height: 1000px;
        object-position: 15% center;
    }

    .invitation-text .dear-misha {
        width: 80vw;
    }
    

    .invitation-text .invitation-subtitle {
        width: 80%;
    }

    .invitation-text .invitation-title {
        max-width: 90%;
        font-size: 100px;
    }
}

@media (max-width: 750px) {   

    /* Почему приглашаем именно тебя? */
    .invitation-image-photo-two {
        height: 800px;
        object-position: 40% center;
    }

    .invitation-text .invitation-subtitle {
        width: 90%;
    }

    .invitation-text .invitation-title {
        font-size: 44px;
    }

    .invitation-image .invitation-image-photo-one {
        height: 900px;
    }
}

@media (max-width: 600px) {   

    /* Почему приглашаем именно тебя? */
    .invitation-image-photo-two {
        height: 800px;
        object-position: center center;
    }

    .invitation-text .invitation-subtitle {
        font-size: 15px;
        padding-right: 15px;
    }

    .invitation-block-three .invitation-text .invitation-subtitle {
        padding-left: 15px;
        padding-right: inherit;
    }

    .invitation-image .invitation-image-photo-one {
        height: 700px;
    }
}

@media (max-width: 425px) {   

    .invitation-text {
        left: 3vh;
        bottom: 3vh;
        gap: 2vh;
    }

    .invitation-block-three .invitation-text {
        right: 3vh;
        bottom: 3vh;
        gap: 2vh;
    }


    .invitation-text .invitation-title {
        max-width: inherit;
        width: 85vw;
    }

    .invitation-text .invitation-subtitle {
        width: 100%;
    }

    /* дорогой миша литвин фото */
    .invitation-image .invitation-image-photo-one {
        height: 500px;
    }
}